.sticker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 3em;
    min-height: 4em;
    background: lightgray;

    box-shadow: 5px 5px 5px gray;

    .numero {
        font-size: 1.6em;
    }

    &.possede {
        background: green;
        color: white;
    }
}

.compteur-exemplaires {
    position: relative;
    background-color: yellow;
    border-radius: 50px;
    border: 1px solid black;
    padding: 4px 8px;
    top: -10px;
    right: -30px;
}