:host {

    position: relative;
    .sticker {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        min-width: 3em;
        min-height: 4em;
        background: lightgray;

        box-shadow: 5px 5px 5px gray;
        

        .numero {
            font-size: 1.6em;
        }

        &.possede {
            background: green;
            color: white;
        }
    }

    .compteur-exemplaires {
        position: absolute;
        border-radius: 50px;
        border: 1px solid black;
        padding: 4px 8px;
        top: 48px;
        right: -8px;

        &.couleur-2 {
            background-color: yellow;
        }

        &.couleur-3 {
            background-color: orange;
        }

        &.couleur-4, &.couleur-5, &.couleur-6 {
            background-color: purple;
        }
    }
}