
.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .titre {
        background: #000;
        color: yellow;
        padding: 0.5em 2em;
    }

    .content {
        max-width: 70vw;
        .entete {
            margin: 2em 0;
            .compteurs {
                display: flex;
                gap: 1em;
                .compteur {
                    padding: 0 1em;
                    min-width: 6em;
                    min-height: 6em;
                    background: gray;
                    color: yellow;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .nbr {
                        font-size: 3em;
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    &.choisi {
                        background: black;
                    }
                }
            }
        }
        .liste-de-stickers {
            display: flex;
            flex-wrap: wrap;

            margin: 1em 0 2em 0;
            gap: 2em;
        }
    }
}