
.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .titre {
        background: #000;
        color: yellow;
        padding: 0.5em 2em;
    }

    .content {
        max-width: 70vw;
        .compteurs {
            display: flex;
            .compteur {
                margin: 1em;
                padding: 0 1em;
                min-width: 6em;
                min-height: 6em;
                background: #000;
                color: yellow;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .nbr {
                    font-size: 3em;
                }
            }
        }
        .liste-de-stickers {
            display: flex;
            flex-wrap: wrap;
            app-sticker {
                margin: 1em;
            }
        }
    }
}